
table {
    width:60vw;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
}


th, td {
    border: 1px solid #f39c12;
    padding: 8px;
    text-align: center;
    color: #f39c12;
}

th {
    background-color: #fff;
}

tr {
    height: 5vh;
}

.container-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.disabled {
    background-color: #343a40; /* Couleur de fond sombre */
    color: white; /* Texte blanc */
    border-color: #343a40;
    cursor:not-allowed;
}

.highscore-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'image en arrière-plan */
    background-size: cover; /* Redimensionne l'image pour couvrir toute la fenêtre */
}


