.planet {
    width: 80px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#planet1 { top: 10px; left: 100px;  }
#planet2 { top: 200px; left: 200px; }
#planet3 { top: 340px; left: 300px; }
#planet4 { top: 450px; left: 480px; }
#planet5 { top: 160px; left: 540px; }
#planet6 { top: 200px; left: 760px; }
#planet7 { top: 460px; left: 880px; }
#planet8 { top: 300px; left: 980px; }
#planet9 { top: 140px; left: 1100px;}
#planet10{ top: 40px; left: 1300px;}
#planet11{ top: 430px; left: 1420px;}
#planet12{ top: 300px; left: 1580px;}
#planet13{ top: 120px; left: 1740px;}
#planet14{ top: 410px; left: 1840px;}


.planet:hover {
    transform: scale(1.2); /* Effet d'agrandissement au survol */
}


#imgplanet1, #imgplanet2, #imgplanet3, #imgplanet4, #imgplanet6, #imgplanet7, #imgplanet8, #imgplanet9, #imgplanet10, #imgplanet11,#imgplanet13,#imgplanet14 {
    width: 110px; 
    height: 80px; 
}

#imgplanet5, #imgplanet12 {
    width: 160px; 
    height: 90px; 
}

#cursor_planet {
    width: 110px; 
    height: 110px; 
}

#click_cursor {
    position: absolute;
    cursor: not-allowed;
    top: 100px;
    left: 110px; 
}

.map-container {
    width: 2000px; /* Largeur plus grande pour inclure toutes les planètes */
    height: 100vh;
    position: relative;
    overflow-x: scroll; /* Autorise le défilement horizontal */
    white-space: nowrap; /* Assure que le contenu ne se casse pas en plusieurs lignes */
}

body{
    overflow-y:hidden;
}