.planet {
    width: 80px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#planet1 { top: 10vh; left: 10vw; }
#planet2 { top: 30vh; left: 20vw; }
#planet3 { top: 20vh; left: 40vw; }
#planet4 { top: 40vh; left: 50vw; }
#planet5 { top: 30vh; left: 70vw; }
#planet6 { top: 10vh; left: 10vw; }
#planet7 { top: 30vh; left: 20vw; }

.planet:hover {
    transform: scale(1.2); /* Effet d'agrandissement au survol */
}


#imgplanet1 {
    width: 110px; 
    height: 80px; 
}

#imgplanet2 {
    width: 110px; 
    height: 80px;
}

#imgplanet3 {
    width: 160px; 
    height: 90px; 
}

#imgplanet4 {
    width: 110px; 
    height: 80px; 
}

#imgplanet5 {
    width: 160px; 
    height: 90px;  
}

#imgplanet6 {
    width: 110px; 
    height: 80px; 
}

#imgplanet7 {
    width: 110px; 
    height: 80px;
}

.btn-back {
    position: fixed;
    top : 5px;
    left : 5px;
  }


.btn-next {
position: fixed;
top : 50%;
right : 5px;
}

.btn-previous {
    position: fixed;
    top : 50%;
    left : 5px;
    }