
table {
    width:60vw;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
}


th, td {
    border: 1px solid #f39c12;
    padding: 8px;
    text-align: center;
    color: #f39c12;
}

th {
    background-color: #fff;
}

tr {
    height: 5vh;
}

.container-arrows {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
}