.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'image en arrière-plan */
    /* Assurez-vous de spécifier le chemin correct de votre image */
    background: url('../images/planete_terre.jpg') no-repeat center center fixed;
    background-size: cover; /* Redimensionne l'image pour couvrir toute la fenêtre */
}

.btn-start {
    display: block;
    margin: auto;
    margin-top: 2%;
    padding: 15px 30px;
    font-size: 2rem;
    border-radius: 50px;
    color: #fff;
    background-color: #95ff64;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px #fff;
}
.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #95ff64;
}


.btn-outline-dark {
    background-color: #95ff64;
    border-color: #000000;
    position: fixed;
    top : 5px;
    left : 5px;
  }


.img_of_laby {
    width: 5vw; 
    height: 7vh;
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95ff64;
    border-color: #000000;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    font-size: 32px;
    text-shadow: 1px 1px #000;
    font-family: 'Press Start 2P', cursive;
    position :fixed;
    top:5px;
    right:5px;
  }
  
  