.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planet_volcano_sand.png') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(255, 106, 0);
}


.btn-start {
    background-color: rgb(255, 106, 0);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(255, 106, 0);
}


.timer {
    background-color: rgb(255, 106, 0);
}