.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planet_jungle.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(35, 59, 28);
}


.btn-start {
    background-color: rgb(35, 59, 28);
}


.btn-start:hover {
  box-shadow: 0 0 10px rgb(35, 59, 28);
}


.timer {
    background-color: rgb(35, 59, 28);
}