.background-image {
    background: url('../../images/planete_terre.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: #95ff64;
}


.img_of_laby {
    width: 5vw; 
    height: 7vh;
}


.btn-start {
    background-color: #95ff64;
}


.btn-start:hover {
    box-shadow: 0 0 10px #95ff64;
}


.timer {
    background-color: #95ff64;
}