.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planet_pink.png') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(129, 1, 118);
}


.btn-start {
    background-color: rgb(129, 1, 118);
}


.btn-start:hover {
  box-shadow: 0 0 10px rgb(129, 1, 118);
}


.timer {
    background-color: rgb(129, 1, 118);
}