.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planete_rouge.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(157, 51, 51);
}


.btn-start {
    background-color: rgb(157, 51, 51);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(157, 51, 51);
}


.timer {
    background-color: rgb(157, 51, 51);
}