.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planete_terre.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: #95ff64;
}


.btn-start {
    background-color: #95ff64;
}


.btn-start:hover {
    box-shadow: 0 0 10px #95ff64;
}


.timer {
    background-color: #95ff64;
}