.background-image {
    background: url('../../images/backgrounds/planet_atrebois.png') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(126, 59, 55);
}


.btn-start {
    background-color: rgb(126, 59, 55);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(126, 59, 55);
}


.timer {
    background-color: rgb(126, 59, 55);
}