.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planete_open.png') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(41, 62, 83);
}


.btn-start {
    background-color: rgb(41, 62, 83);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(41, 62, 83);
}


.timer {
    background-color: rgb(41, 62, 83);
}

.god-dialog {
    position: fixed;
    bottom: 10px;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: right;
    margin-bottom: 40px;
    padding: 20px;
    z-index: 1000;
    line-height: 1.6;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
}

.god-talk {
    background-color: rgba(63, 63, 63, 0.7);
}

.character-talk {
    background-color: rgba(0, 0, 0, 0.7);
}

.power-bottom-bar {
    position: fixed;
    bottom: 10px;
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    opacity: 90%;
    padding: 10px 0;
    z-index: 1000;
    color: white;
    border-radius: 10px;
}

/* Style of images */
.power-bottom-bar div {
    width: 5vw;
    height: 4vh;
    border-radius: 5px;
    object-fit: cover;
}

.power-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

  /* Style des images */
.power-item img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
}

.arm-of-brahma {
    width: 88vw;
    height: 42vh;
}