.background-image {
    background: url('../../images/planete_fantome.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(58, 114, 49);
}


.btn-start {
    background-color: rgb(58, 114, 49);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(58, 114, 49);
}


.timer {
    background-color: rgb(58, 114, 49);
}