.background-image {
    background: url('../../images/planete_poison.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(103, 75, 116);
}


.btn-start {
    background-color: rgb(103, 75, 116);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(103, 75, 116);
}


.img_of_laby {
    width: 3.5vw;
    height: 5vh;
}


.timer {
    background-color: rgb(103, 75, 116);
}