.background-image, .highscore-background-image {
    background: url('../../images/backgrounds/planete_leviate.png') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(35, 35, 183);
}


.btn-start {
    background-color: rgb(35, 35, 183);
}


.btn-start:hover {
    box-shadow: 0 0 10px rgb(35, 35, 183);
}


.timer {
    background-color: rgb(35, 35, 183);
}