.background-image {
    background: url('../../images/planete_glace.jpg') no-repeat center center fixed;
}


.btn-outline-dark {
    background-color: rgb(113, 161, 220);
}


.btn-start {
    background-color: rgb(113, 161, 220);
}

.btn-start:hover {
    box-shadow: 0 0 10px rgb(113, 161, 220);
}


.timer {
    background-color: rgb(113, 161, 220);
}  