body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche le défilement de la page */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'image en arrière-plan */
    /* Assurez-vous de spécifier le chemin correct de votre image */
    background: url('../images/planete_glace.jpg') no-repeat center center fixed;
    background-size: cover; /* Redimensionne l'image pour couvrir toute la fenêtre */
}

/* Le contenu de votre site va ici */
.content {
    text-align: center;
    margin: 0 auto; /* Pour centrer la div .content */
    max-width: 800px; /* Ajout d'une largeur maximale pour le contenu */
}

.btn-outline-dark {
    background-color: rgb(113, 161, 220);
    border-color: #000000;
    position: fixed;
    top : 5px;
    left : 5px;
  }


.game-description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
}

.custom-title {
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    text-shadow: 0 0 5px #000000;
    margin-top: 2%;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.custom-title::before,
.custom-title::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #f39c12;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}

.custom-title::before {
    left: -160px;
}

.custom-title::after {
    right: -160px;
}

.img_of_laby {
    width: 3.5vw;
    height: 5vh;
}

.game-part {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
}

.btn-start {
    z-index: 9;
    display: block;
    margin: auto;
    margin-top: 2%;
    padding: 15px 30px;
    font-size: 2rem;
    border-radius: 50px;
    color: #fff;
    background-color: #f39c12;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px #fff;
}
.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #f39c12;
}

#pause {
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 200px;
}

#showmenu{
    z-index: 9;
}