body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche le défilement de la page */
    /* cursor: url('../images/vaisseau.jpg') 25 25, auto; */
}

.planet {
    width: 80px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#planet1 { top: 10vh; left: 10vw; }
#planet2 { top: 30vh; left: 20vw; }
#planet3 { top: 20vh; left: 40vw; }
#planet4 { top: 40vh; left: 50vw; }
#planet5 { top: 30vh; left: 70vw; }

.planet:hover {
    transform: scale(1.2); /* Effet d'agrandissement au survol */
}


#imgplanet1 {
    width: 110px; 
    height: 80px; 
}

#imgplanet2 {
    width: 110px; 
    height: 80px;
}

#imgplanet3 {
    width: 160px; 
    height: 90px; 
}

#imgplanet4 {
    width: 110px; 
    height: 80px; 
}

#imgplanet5 {
    width: 160px; 
    height: 90px;  
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'image en arrière-plan */
    /* Assurez-vous de spécifier le chemin correct de votre image */
    background: url('../images/Fond2.png') no-repeat center center fixed;
    background-size: cover; /* Redimensionne l'image pour couvrir toute la fenêtre */
}

/* Le contenu de votre site va ici */
.content {
    position: relative;
    z-index: 1; /* Place le contenu au-dessus de l'image en arrière-plan */
    text-align: center;
    padding: 50px;
    color: white;
}

.btn-start {
    display: block;
    margin: auto;
    margin-top: 2%;
    padding: 15px 30px;
    font-size: 2rem;
    border-radius: 50px;
    color: #fff;
    background-color: #f39c12;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px #fff;
}
.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #f39c12;
}


.custom-title {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    margin-top: 2%;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.custom-title::before,
.custom-title::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #f39c12;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}

.custom-title::before {
    left: -160px;
}

.custom-title::after {
    right: -160px;
}

.btn-outline-light {
    position: fixed;
    top : 5px;
    left : 5px;
  }