/* Style pour les images */
.img-char {
    height: 250px;
    width: 250px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
/* Style pour l'image sélectionnée */
.selected {
    border: 5px solid #f39c12;
    box-shadow: 0 0 10px #f39c12;
    transform: scale(1.1);
}
.img-char:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #f39c12;
}

/* Le contenu de votre site va ici */
.content {
    position: relative;
    z-index: 1; /* Place le contenu au-dessus de l'image en arrière-plan */
    text-align: center;
    padding: 50px;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.img-thumbnail {
    height: 100px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
}
.btn-start {
    display: block;
    margin: auto;
    margin-top: 2%;
    padding: 15px 30px;
    font-size: 2rem;
    border-radius: 50px;
    color: #fff;
    background-color: #f39c12;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px #fff;
}
.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #f39c12;
}



.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place l'image en arrière-plan */
    /* Assurez-vous de spécifier le chemin correct de votre image */
    background: url('../../images/Fond2.png') no-repeat center center fixed;
    background-size: cover; /* Redimensionne l'image pour couvrir toute la fenêtre */
}


.custom-title {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    margin-top: 2%;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.custom-title::before,
.custom-title::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #f39c12;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}

.custom-title::before {
    left: -160px;
}

.custom-title::after {
    right: -160px;
}